
{% extends "layout.html" %}
{% block content %}
    <div class="chat-container">
        <!-- Chat List Section -->
        <div class="chat-list-section" id="chatListSection">
            <h2>Messages</h2>
            <div class="chat-list" id="chatList">
                <!-- Chat items will be inserted here by JavaScript -->
            </div>
        </div>
        
        <!-- Chat View Section -->
        <div class="chat-view hidden" id="chatView">
            <div class="chat-header">
                <button class="back-button" id="backButton">&larr; Back</button>
                <div class="contact-info">
                    <img class="chat-contact-avatar" id="contactAvatar" src="/static/images/avatar.png" alt="Contact Avatar">
                    <span class="chat-contact-name" id="contactName"></span>
                </div>
            </div>
            <div class="messages-container" id="messagesContainer">
                <!-- Messages will be inserted here by JavaScript -->
            </div>
        </div>
    </div>
{% endblock %}
